/* color palette */
:root {
  --color-black-soft: #181818;
  --color-white-soft: #f8f8f8;
  --color-grey: #a1a1a1;
  --color-orange: #ec5336;
}

/* semantic color variables */
:root {
  --color-background: var(--color-black-soft);
  --color-text: var(--color-white-soft);
  --color-input-text: var(--color-grey);
  --color-primary: var(--color-orange);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: var(--color-primary);
  text-decoration: underline dotted;
}

a:hover {
  text-decoration: underline;
}

body {
  min-width: auto;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'TexGyreHeroes', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

input {
  color: var(--color-text);
}

.text__bold {
  font-weight: bold;
}

@font-face {
  font-family: 'TexGyreHeroes';
  src: url('../assets/fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TexGyreHeroes';
  src: url('../assets/fonts/texgyreheros-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
