#app {
    margin: 50px;
}

.text__highlight {
    font-size: 1.2rem;
    color: var(--color-primary);
}

@media (min-width: 1200px) {
    #app {
        margin: 100px;
    }
}

@media (min-width: 1400px) {
    #app {
        margin: 100px 150px 100px 150px;
    }
}
